.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body
{
    
    color:white;
}

a{
    text-decoration: inherit;
    color: black;
}
.main{
    font-size: 16px;
    color:white;
}

.main .nav
{
    height: 60px;
    background-color: #47464a;
    color: #999;
    text-align: center;
    line-height: 60px;
}

.main .nav a{
    margin: 0 38px;
}

.main .main a:hover{
    color: #fff;
}

.main .nav a.select{
    color: #ef4238;
}

.main .container{
    width: 1120px;
    margin: 0 auto;
}

.main .container .choose-area{
    border: 3px solid #e5e5e5;
    margin: 40px 0;
    font-size: 14px;
    line-height: 30px;
}

.main .container .choose-area .choose-item .left{
    float: left;
    width: 60px;
    text-align: right;
    color: #999;
}


.main .container .choose-area .choose-item .right{
    float: left;
    width: 1020px;
}

.main .container .choose-area .choose-item .right li{
    float: left;
    margin: 0 9px;
    line-height: 30px;
    padding: 0 6px;
}

.main .container .choose-area .choose-item .right li:hover{
    color: #ef4238;
}

.main .container .choose-area .choose-item .right li.select
{
    background: red;
    color: #fff;
    border-radius: 15px;
}

.main .container .choose-area .choose-item {
    margin:1em 0;
    border-bottom: 1px dotted;
}

.main .container .choose-area .noline{
    border: none;
}


.main .container .movies .movie-item{
    float:left;
    width: 167px;
    margin-right: 22px;
    margin-bottom: 5px;
}

.main .container .movies .movie-item:nth-child(6n)
{
    margin-right: 0;
}

.main .container .movies .movie-item img{
    width: 167px;
}

.main .container .movies .movie-item .name{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 2px;
    text-decoration-line: none;
}

.main .container .movies .movie-item .score
{
    text-align: center;
    color: #ffb400;
    line-height: 2.5;

}

.main .container .movies .movie-item .score::first-letter
{
    font-size: 1.5em;
}